@import './fonts.css';
@import './progress-bar.css';

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strong,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
article,
aside,
canvas,
details,
embed,
header,
footer,
menu,
nav,
section,
summary,
mark,
audio,
video,
textarea,
button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
  border: none;
}

html {
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
